/* General Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

header {
  background: #fff;
  color: #b9d9eb;
  padding: 10px 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}

/* Section Styles */
main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h1,
h2 {
  color: #444;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.header {
  text-align: center;
}

.header h1 {
  margin: 10px 0;
}

.contact {
  margin: 10px 0;
  font-size: 14px;
}

.contact a {
  color: #b9d9eb;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}

/* Item Styles */
.item {
  background: #fff;
  margin: 20px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.item h3 {
  margin-top: 0;
  font-size: 18px;
  color: #b9d9eb;
}

.item p {
  margin: 10px 0 0;
  font-size: 14px;
}

/* Skills Styles */
.skills ul {
  list-style: none;
  padding: 0;
}

.skills ul li {
  display: inline-block;
  background: #b9d9eb;
  color: #fff;
  padding: 5px 10px;
  margin: 5px 5px 5px 0;
  border-radius: 4px;
  display: inline-flex;
}

/* Image Styles */
img {
  max-width: 200px;
  height: 200px;
  border-radius: 175px;
  border: 5px solid #b9d9eb;
  margin: 0 auto;
  display: block;
}

.item img {
  max-width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #b9d9eb;
  margin-right: 10px;
}

/* Links */
a {
  color: #b9d9eb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
